<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
  <!--border-bottom-->
  <h1 class="h2">{{"common.order" | translate}}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-lg btn-success" (click)="onCreateNewClicked()">
        <span class="badge">{{"common.create_new" | translate}}</span>
      </button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>{{"common.client" | translate}}</th>
        <th>{{"common.total_price" | translate}}</th>
        <th>{{"common.created_at" | translate}}</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>
          <button type="button" class="btn btn-sm btn-warning">{{"common.edit" | translate}}</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-danger">{{"common.delete" | translate}}</button>
        </td>
      </tr><tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>
          <button type="button" class="btn btn-sm btn-warning">{{"common.edit" | translate}}</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-danger">{{"common.delete" | translate}}</button>
        </td>
      </tr><tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>
          <button type="button" class="btn btn-sm btn-warning">{{"common.edit" | translate}}</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-danger">{{"common.delete" | translate}}</button>
        </td>
      </tr><tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>
          <button type="button" class="btn btn-sm btn-warning">{{"common.edit" | translate}}</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-danger">{{"common.delete" | translate}}</button>
        </td>
      </tr><tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>
          <button type="button" class="btn btn-sm btn-warning">{{"common.edit" | translate}}</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-danger">{{"common.delete" | translate}}</button>
        </td>
      </tr><tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>
          <button type="button" class="btn btn-sm btn-warning">{{"common.edit" | translate}}</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-danger">{{"common.delete" | translate}}</button>
        </td>
      </tr>


    </tbody>
  </table>
</div>
