<div class="modal-header">
  <h4 class="modal-title">{{"title.new_order_modal" | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">

    <div class="mb-3">
      <label for="clientname">{{"common.client" | translate}}</label>
      <input type="text" class="form-control" id="clientname" [(ngModel)]="model"
        placeholder="{{'hint.client' | translate}}" required [ngModelOptions]="{standalone: true}">
      <div class="invalid-feedback" style="width: 100%;">
        The Client name is required.
      </div>
    </div>
    <!-- <hr /> -->

    <div class="row">
      <div class="col-md-10 mb-5">
        <hr />
      </div>
      <div class="col-md-1 mb-5">
        <button type="button" class="btn fa4-circle-o btn-info" (click)="openVehicleSelector()">
          <span class="glyphicon glyphicon-plus"></span> {{"common.add" | translate}}
        </button>
      </div>
    </div>

    <!-- <div class="mb-3">
      <label for="brandname">{{"common.brand" | translate}}</label>
      <input type="text" class="form-control" id="brandname" placeholder="{{'common.select_brand' | translate}}"
        [(ngModel)]="brand" [ngbTypeahead]="search" (focus)="focus$.next($any($event).target.value)"
        #instance="ngbTypeahead" (click)="click$.next($any($event).target.value)" required
        [ngModelOptions]="{standalone: true}">
      <div class="invalid-feedback" style="width: 100%;">
        The Client name is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="brandname">{{"common.model" | translate}}</label>
      <input type="text" class="form-control" id="brandname" placeholder="{{'common.select_model' | translate}}"
        [(ngModel)]="model" [ngbTypeahead]="search" (focus)="focus$.next($any($event).target.value)"
        #instance="ngbTypeahead" (click)="click$.next($any($event).target.value)" required
        [ngModelOptions]="{standalone: true}">
      <div class="invalid-feedback" style="width: 100%;">
        The Client name is required.
      </div>
    </div> -->



    <!-- <div class="mb-3">
      <label for="note">{{"common.note" | translate}} <span class="text-muted">({{"common.optional" |
          translate}})</span></label>
      <textarea type="text" class="form-control" id="note"
        placeholder="{{'hint.order_note' | translate}}"></textarea>
    </div> -->

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="activeModal.close()" translate="common.cancel">
  </button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')" translate="common.order"></button>
</div>
